# conda-content-trust test dependencies
# run as 'conda install -c defaults --file tests/requirements.txt'
cryptography>=41.0.0
pytest
pytest-cov
pytest-mock
conda>23.7
conda-forge::securesystemslib
setuptools_scm